<nav id="sidebar">
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/introduction/">Introduction</a></li>
    <li>
      <a href="/fifteen/">The 15 Values</a>
      <ul style="margin-left: 1rem;">
        <li><a href="/value-browser/">Values Browser</a></li>
      </ul>
    </li>
    <li><a href="/simulation-methodology/">Simulation Methodology</a></li>
    <li><a href="/glossary/">Glossary</a></li>
    <li><a href="/blog.html">Blog</a></li>
    <li>
      <a href="https://github.com/rjhinrichs/aimoralcode/issues/new?template=new-blogpost.yml" target="_blank">
        🖋️ New Blog Post
      </a>
    </li>
    <li>
      <a href="https://github.com/rjhinrichs/aimoralcode/issues/new?template=blog-contributor-request.yml" target="_blank">
        📝 Request Contributor Access
      </a>
    </li>
  </ul>
</nav>
