<aside id="sidebar">
  <button id="sidebar-toggle">☰ Menu</button>
  <nav class="sidebar-nav">
    <ul>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/introduction/' | relative_url }}">Introduction</a></li>
      <li><a href="{{ '/twelve/' | relative_url }}">Canonical Values</a></li>
      <li><a href="{{ '/value-browser/' | relative_url }}">Value Browser</a></li>
      <li><a href="{{ '/simulation-methodology/' | relative_url }}">Simulation Methodology</a></li>
      <li><a href="{{ '/glossary/' | relative_url }}">Glossary</a></li>
      <li><a href="{{ '/cognates-requirements/' | relative_url }}">Cognates Requirements</a></li>

    </ul>
  </nav>
</aside>